<!-- Left side column. contains the sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <!-- search form -->
      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu">
        <li class="treeview"><%= link_to "<i class='fa fa-circle-o'></i> <span>Jobs</span>".html_safe, admin_jobs_url %></li>
        <li class="treeview"><%= link_to "<i class='fa fa-circle-o'></i> <span>Usuários</span>".html_safe, admin_users_url %></li>
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>