<!doctype html>
<title>Equipe MeuPróximoTrabalho</title>
<style>
  body { text-align: center; padding: 150px; background:#FCFCFC; }
  h1 { font-size: 50px; }
  body { font: 20px Helvetica, sans-serif; color: #333; }
  article { display: block; text-align: left; width: 650px; margin: 0 auto; }
  a { color: #dc8100; text-decoration: none; }
  a:hover { color: #333; text-decoration: none; }
</style>

<article>
      <img src="/assets/img/logo.png" alt="" style="width:250px;display:block;margin:0 auto">

    <h1>Falta pouco!</h1>
    <div>
        <p>Obrigado por demonstrar <strong>interesse</strong> na nossa plataforma. Estamos concluindo os ajustes finais e em breve estará disponível!</p>
        <p>Equipe MeuPróximoTrabalho</p>
    </div>
</article>