<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>MeuPróximoTrabalho - Seja Premium</title>
  <meta name="description" content="" />
  <meta name="keywords"  content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='http://fonts.googleapis.com/css?family=Quicksand:300,400,700|Ubuntu:400,700|Roboto:400,700,300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/assets/seja-premium/css/font-awesome.min.css">
  <link rel="stylesheet" href="/assets/seja-premium/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/seja-premium/css/jquery.fancybox.css" />
  <link rel="stylesheet" href="/assets/seja-premium/css/jquery.fancybox-thumbs.css" />
  <link rel="stylesheet" href="/assets/seja-premium/css/jquery.fullPage.css" />
  <link rel="stylesheet" href="/assets/seja-premium/css/animate.css" />
  <link rel="stylesheet" href="/assets/seja-premium/style.css">
  <link rel="stylesheet" href="/assets/seja-premium/responsive.css">
  <!--[if IE]>
    <script type="text/javascript">
       var console = { log: function() {} };
    </script>
  <![endif]-->
</head>
<body>

<div id="fullpage">
  <div class="section" id="section0">
    <div class="homescreen">
      <div class="container">
        <div class="row">         
              <div class="col-md-8 col-md-offset-2">
                <img src="http://meuproximotrabalho.com.br/assets/img/logo-alt.png" width="" alt="" class="img-responsive wow bounceInUp">
              </div>
        </div>
      </div>
    </div>

  </div>
  <div class="section" id="section1">
    <div class="features_area">
      <div class="container">
        <div class="row page_title text-center">
          <h2>MeuPróximoTrabalho Premium</h2>
          <p>O que era bom, ficou ainda melhor.</p>
        </div>
        <div class="all_features">
          <div class="row features feature_one text-center">
            <div class="col-md-12">
              <p>Podemos ajuda-lo a alcançar seu emprego ainda mais rápido... Introduzimos uma maneira de você conseguir isso, de tal forma que o acompanharemos de perto servindo profissionais para te dar dicas, sugestões, tirar suas dúvidas, analisar seu currículo a até produzir um.</p>
              <p>Legal né? Confira mais detalhes ao navegar na página.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section" id="section2">
    <div class="features_area">
      <div class="container">
        <div class="all_features">
          <div class="row features feature_two">
            <div class="col-md-7 col-md-offset-1 visible-sm visible-xs">
              <div class="feature_detail">
                <h3>Análise de Currículo.</h3>
                <p>Dispomos de profissionais para avaliar o seu currículo. Podemos aperfeiçoar e aumentar suas chances de conseguir a vaga que almeja.</p>
                <p>Você sabia que um currículo bem feito pode se tornar um grande diferencial na hora da seleção?</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="feature_image">
                <img class="img-responsive"  src="/assets/seja-premium/img/mpt-cv01.png" alt="">
              </div>
            </div>
            <div class="col-md-7 col-md-offset-1 hidden-sm hidden-xs">
              <div class="feature_detail">
                <h3>Análise de Currículo.</h3>
                <p>Dispomos de profissionais para avaliar o seu currículo. Podemos aperfeiçoar e aumentar suas chances de conseguir a vaga que almeja.</p>
                <p>Você sabia que um currículo bem feito pode se tornar um grande diferencial na hora da seleção?</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section" id="section3">
    <div class="features_area">
      <div class="container">
        <div class="all_features">
          <div class="row features feature_three">
            <div class="col-md-6">
              <div class="feature_detail">
                <h3>Criação de currículo.</h3>
                <p>Você ainda não tem um currículo? Nós podemos fazer para você!</p>
                <p>Nossos consultores estão prontificados para criar o melhor possível.</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="feature_image">
                <img class="img-responsive"  src="/assets/seja-premium/img/mpt-cv02.png" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section" id="section4">
    <div class="features_area">
      <div class="container">
        <div class="all_features">
          <div class="row features feature_two">
            <div class="col-md-7 col-md-offset-1 visible-sm visible-xs">
              <div class="feature_detail">
                <h3>Converse com um profissional em tempo real.</h3>
                <p>Sabe aquele amigo de todas as horas? Pois é, nós somos esse tipo de amigo. Queremos conversar com você e tirar o máximo de dúvidas, te dar dicas de como se comportar, o que vestir, o que levar, etc... Tudo isso para você chegar na entrevista e DAR UM SHOW!</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="feature_image">
                <img class="img-responsive"  src="/assets/seja-premium/img/mpt-cv04.png" alt="">
              </div>
            </div>
            <div class="col-md-7 col-md-offset-1 hidden-sm hidden-xs">
              <div class="feature_detail">
                <h3>Converse com um profissional em tempo real.</h3>
                <p>Sabe aquele amigo de todas as horas? Pois é, nós somos esse tipo de amigo. Queremos conversar com você e tirar o máximo de dúvidas, te dar dicas de como se comportar, o que vestir, o que levar, etc... Tudo isso para você chegar na entrevista e DAR UM SHOW!</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section" id="section5">
    <div class="contact_area">
      <div class="container">
        <div class="row page_title text-center">
          <h2>Gostou?</h2>
          <p>Estamos ansiosos para te oferecer tudo isso.</p>
        </div>
        <div class="row subscribe text-center">
          <h3>Clique no link abaixo e seja um Usuário Premium :D</h3>
          <a href="http://meuproximotrabalho.com.br/painel/u/premium" style="display:block;background:#00AEFF;padding:10px;font-size:3rem;color:#fff;font-weight:bold">EU QUERO SER PREMIUM</a>
        </div>
        <div class="row social text-center">
        <hr class="hrstyle">
        </div>
        <div class="row copyright text-center">
          <p>&copy; Copyright <strong><i>MeuPróximoTrabalho</i></strong>. Todos os direitos reservados. Desenvolvido e mantido com muito <i class="fa fa-heart-o"></i>.</p>
        </div>
      </div>
    </div>
  </div>
</div>



  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/assets/seja-premium/js/jquery-1.10.2.min.js"><\/script>')</script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
    <script src="/assets/seja-premium/js/bootstrap.min.js"></script>
  <script src="/assets/seja-premium/js/jquery.slimscroll.min.js"></script>
  <script src="/assets/seja-premium/js/jquery.fullPage.min.js"></script>
  <script src="/assets/seja-premium/js/jquery.fancybox.js"></script>
  <script src="/assets/seja-premium/js/wow.min.js"></script>
  <script src="/assets/seja-premium/js/jquery.fancybox-thumbs.js"></script>
  <script src="/assets/seja-premium/js/main.js"></script>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-44376143-10', 'auto');
    ga('send', 'pageview');
  </script>

  <!-- Start of Async Drift Code -->
      <script>
      !function() {
        var t;
        if (t = window.driftt = window.drift = window.driftt || [], !t.init) return t.invoked ? void (window.console && console.error && console.error("Drift snippet included twice.")) : (t.invoked = !0, 
        t.methods = [ "identify", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ], 
        t.factory = function(e) {
          return function() {
            var n;
            return n = Array.prototype.slice.call(arguments), n.unshift(e), t.push(n), t;
          };
        }, t.methods.forEach(function(e) {
          t[e] = t.factory(e);
        }), t.load = function(t) {
          var e, n, o, r;
          e = 3e5, r = Math.ceil(new Date() / e) * e, o = document.createElement("script"), 
          o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + r + "/" + t + ".js", 
          n = document.getElementsByTagName("script")[0], n.parentNode.insertBefore(o, n);
        });
      }();
      drift.SNIPPET_VERSION = '0.2.0'
      drift.load('zrauvgx9gyyz')
      </script>
      <!-- End of Async Drift Code -->

    <script type="text/javascript">
      window.smartlook||(function(d) {
      var o=smartlook=function(){ o.api.push(arguments)},h=d.getElementsByTagName('head')[0];
      var c=d.createElement('script');o.api=new Array();c.async=true;c.type='text/javascript';
      c.charset='utf-8';c.src='//rec.getsmartlook.com/recorder.js';h.appendChild(c);
      })(document);
      smartlook('init', '6998c3ae452439fca33d6fd86246fa735540549c');
      <% if current_user %>
        smartlook('tag', 'id', '<%= current_user.id %>');
        smartlook('tag', 'name', '<%= current_user.name %>');
        smartlook('tag', 'email', '<%= current_user.email %>');
      <% end %>
    </script>
  

</body>

</html>