body{
	font-family: 'Quicksand', sans-serif;
}

@media screen and (min-width: 900px) {
  
  p {
    font-size:2rem;
    line-height:40px;
  }

}



.homescreen{}
.container{}
.row{}
.text-center{}
.logo{
	margin-right: 10px;
}
.declaration h1 {
  background: none repeat scroll 0 0 #97d454;
  border-radius: 2px;
  color: #f7f7f7;
  display: inline-block;
  font-weight: 400;
  padding: 7px 10px;
}
.declaration h1:first-letter{
	font-weight: 700
}
.header_title{

}
.title {
  margin-top: 55px;
}
.declaration h3{
	color: #555;
	display: inline-block;
	margin-bottom: 0px;
}
.header_btn {
  margin-top: 10px;
}
.header_btn a {
  background: none repeat scroll 0 0 #e3cdb0;
  border-radius: 3px;
  color: #666;
  display: inline-block;
  font-size: 18px;
  height: 45px;
  margin-top: 10px;
  padding-top: 9px;
  text-align: center;
  width: 210px;
}
.header_btn a:hover{
	background: #dfc5a3;
}
.header_img {
  margin-top: 82px;
}
.header_img img {
  height: 610px;
  width: 720px;
  margin-left: 45px;
}
.page_title{
	margin-top: 30px
}
.page_title h2{
	font-family: 'Quicksand', sans-serif;
	font-weight: 300;
	color: #000;
}
.page_title p{
	color: #555
}
.features{}
.all_features{
	margin-top: 60px;
	padding-bottom: 60px
}
.feature_one .feature_detail,
.feature_three .feature_detail{
	padding-left: 50px
}
.col-md-6{}
.feature_detail{
	margin-top: 200px
}
.feature_detail h3{
	font-weight: 400;
	font-size: 22px;
	margin-bottom: 30px;
	color: #865A1B
}
.feature_detail p {
  padding-right: 30px;
  line-height: 30px;
  color: #4D340F
}

.feature_two .feature_detail p{
	padding-right: 150px;
}

.feature_image{}
.feature_two{}
.feature_three{}
.describe_area{}
.describe_area .page_title h2, 
.describe_area .page_title p{
	color: #fff
}
.describe{
	padding: 60px 0;
}

.describe h2, .describe h3, .describe p, .describe ul li span{
	color: #eee
}

.describe_image{}
.describe_image img{
}
.description{
	padding-right: 100px;
}
.des_list {
  margin-top: 20px;
  padding-right: 40px;
}
.des_list ul{
	display: table;
}
.des_list ul li {
	color: #333;
	margin-top: 30px;
	display: table-row;
}
.des_list ul li span {
  display: table-cell;
  font-size: 16px;
  padding-left: 30px;
  padding-top: 30px;
}
.des_list ul li img {
	width: 40px;
	height: 40px;
	display: table-cell;
}
.list-unstyled{}
.screens_area{}
.screens{
	padding: 40px 0 80px;
}
.screens .single_screen{
	margin-top: 40px;
}
.screens img {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
  width: 320px;
}
.contact_area{} 
/*.contact_area .page_title h2{
  color: #fff
} 
.contact_area .page_title p{
  color: #Fff
} */
.subscribe{
	margin-top: 100px;
}
.subscribe input{
	height: 70px;
}
.subscribe form {
  height: 70px;
  left: 50%;
  margin-left: -230px;
  margin-top: 20px;
  position: relative;
  width: 460px;
}
.subscribe input[type="text"] {
  border: medium none;
  float: left;
  font-size: 18px;
  padding-left: 10px;
  width: 340px;
  background: #C6DC6D;
  -webkit-border-radius: 3px 0px 0px 3px;
  -moz-border-radius: 3px 0px 0px 3px;
  -o-border-radius: 3px 0px 0px 3px;
  -ms-border-radius: 3px 0px 0px 3px;
  border-radius: 3px 0px 0px 3px;
}
.subscribe input[type="text"]:focus{
	background: #B6D244
}
.subscribe input[type="submit"] {
  border: medium none;
  float: left;
  font-size: 18px;
  font-weight: 700;
  width: 110px;
  -webkit-border-radius: 0px 3px 3px 0px;
  -moz-border-radius: 0px 3px 3px 0px;
  -o-border-radius: 0px 3px 3px 0px;
  -ms-border-radius: 0px 3px 3px 0px;
  border-radius: 0px 3px 3px 0px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;

}
.subscribe input[type="submit"]:hover{
	padding-left: 10px;
}
.subscribe input[type="submit"]:focus{
	font-style: italic;
	border: none;
	outline: none;
}
.subscribe h3{
	color: #ddd
}
.social{
	margin-top: 120px;
}
.social ul{
	margin-top: 40px;
}
.social ul li{
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.social ul li:hover{
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  transform: scale(1.1);
}
.social ul li img{
  width: 60px;
}
.social ul li a:focus{
	outline: none;
}
.fa{}

.fa-facebook{}
.fa-5x{}
.fa-twitter{}
.fa-google-plus{}
.fa-linkedin{}
.fa-youtube{}
.copyright{
	margin-top: 40px
}
.copyright a.author{
	color: #929A70;
	font-weight: 700;
	font-size: 16px
}
.copyright a.author:hover{
	font-style: italic;
}
.footer_pages{}
.footer_pages li a{
	color: #485D35;
	text-decoration: underline;
}
.footer_pages li a:hover{
	text-decoration: overline;
}

hr.hrstyle{
	 height: 30px;
    border-style: solid;
    border-color: #fff;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}
hr.hrstyle:before{
	display: block;
    content: "";
    height: 30px;
    margin-top: -30px;
    border-style: solid;
    border-color: #fff;;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}
#fp-nav ul li a:focus{
	outline: none;
}

#section0, #section7{
	/*background: url(img/bg.png) no-repeat;*/
	/*background-size: cover*/
  background-color:#00AEFF !important;
}
#fp-nav ul li, .fp-slidesNav ul li {
  display: block;
  height: 13px;
  margin: 15px 7px 7px;
  position: relative;
  width: 14px;
}
#fp-nav ul li a span, .fp-slidesNav ul li a span {
	background: none;
  border: 2px solid #fff;
  border-radius: 50%;
  height: 10px;
  left: 50%;
  margin: -2px 0 0 -2px;
  padding: 6px;
  position: absolute;
  top: 50%;
  transition: all 0.1s ease-in-out 0s;
  width: 10px;
  z-index: 1;
}
#fp-nav ul li a.active span, .fp-slidesNav ul li a.active span, #fp-nav ul li:hover a.active span, .fp-slidesNav ul li:hover a.active span {
  border-radius: 100%;
  height: 12px;
  margin: -6px 0 0 -7px;
  width: 12px;
  padding: 11px;
  background: #fff;
}
#fp-nav ul li:hover a span,
.fp-slidesNav ul li:hover a span{
  border-radius: 100%;
  height: 12px;
  margin: -6px 0 0 -7px;
  width: 12px;
  padding: 11px;
  background: #fff;
}