<p>Olá <%= @resource.name %>!</p>

<p>Alguém pediu um link para alterar sua senha. Você pode fazer isso através do link abaixo.</p>

<p><%= link_to 'Modificar minha senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se você não solicitou esta, por favor ignore este e-mail.</p>
<p>Sua senha não vai mudar até que você acessar o link acima e criar um novo.</p>
