<div class="row">
  <div class="login-block">
    <div class="row">
      <div class="col-md-12">
        <h2 class="title-login">Eu sou...</h2>
      </div>
    </div>
    <div class="row">
      <a href="<%= new_user_registration_url(user: 0) %>">
        <div class="col-md-4 blococadastro">
          <div class="content">
            <i class="fa fa-user" aria-hidden="true"></i>
            <p>Usuário</p>
          </div>
        </div>
      </a>
      <a href="<%= new_user_registration_url(user: 1) %>">
        <div class="col-md-4 blococadastro">
          <div class="content">
            <i class="fa fa-users" aria-hidden="true"></i>
            <p>Profissional de RH</p>
          </div>
        </div>
      </a>
      <a href="<%= new_user_registration_url(user: 2) %>">
        <div class="col-md-4 blococadastro">
          <div class="content">
            <i class="fa fa-building" aria-hidden="true"></i>
            <p>Empresa</p>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>

